<section class="about" id="about">

    <div class="image">
        <img src="\assets\img\about-img.jpg" alt="">
    </div>

    <div class="content">
        <span>Sobre nosotros</span>
        <h3 class="title">Cada día es una oportunidad para ser mejor</h3>
        <p>Lleva tu esfuerzo al limite, unete al cambio !QUE ESPERAS!</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Cuerpo y mente</h3>
                <p>Cuando pienses en rendirte, recuerda la razón por la que empezaste.</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Vida saludable</h3>
                <p>Mejorar la resistencia cardiovascular y muscular, mayor flexibilidad, gozar de un cuerpo en forma, eliminar el estrés.</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Estrategias</h3>
                <p>Apoyate de los profesionales, queremos ver lo que puedes lograr.</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Entrenamiento</h3>
                <p>Tner una planificacion de ejercisios, plan un orden .</p>
            </div>
        </div>
     
    </div>

</section>