body {
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("src\assets\img\dwayne-johnson-in-gym-4k-kf-1400x1050.jpg");
}
.pago-container {
  max-width: 400px;
    margin: 70px auto 0; /* Agrega un margen superior de 50px */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.736); /* Reemplaza los valores RGB y el valor de opacidad según tus necesidades */
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
 h2 {
  text-align: center;
  font-size: 40px;
  }
  
  .pago-container form {
    display: flex;
    flex-direction: column;
  }
  
  .pago-container label {
    margin-bottom: 10px;
  }
  
  .pago-container input[type="text"],
  .pago-container button[type="submit"] {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .pago-container button[type="submit"] {
    background-color: rgba(255, 0, 0, 0.736);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    width: 100px; /* Ajusta el ancho del botón según tus necesidades */
  }
  
  
  .pago-container button[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color:rgba(255, 0, 0, 0.736) ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  span {
    color: red;
    font-size: 16px;
  }

 .pago-container label {
    font-weight: bold;
    font-size: 13px;
  }