<header class="header">
    <a href="#" class="logo"> <span>FIT</span>ULEAM </a>
    
    <button id="menu-btn" class="fa fa-bars"></button>

    <nav class="navbar">
        <a routerLink="/inicio">Inicio</a>
        <a routerLink="/caracteristicas">Funciones</a>
        <a routerLink="/precios">Precios</a>
        <a routerLink="/entrenadores">Entrenadores</a>
        <a routerLink="/nosotros">Nosotros</a>
        <a routerLink="/informacion">Información</a>
        <a routerLink="/clases">Clases</a>
        <a routerLink="/asistencia">Tu Registro</a>
        <a routerLink="/iniciosesion">Inicio Sesion</a>
      
    </nav>
</header>

