<body>
<section class="footer" id="footer">

    <div class="box-container">



        <div class="box">
            <h3>Horario</h3>
            <p> Lunes : <i> 7:00am - 10:30pm </i> </p>
            <p> Martes : <i> 7:00am - 10:30pm </i> </p>
            <p> Miercoles : <i> 7:00am - 10:30pm </i> </p>
            <p> Jueves : <i> 7:00am - 10:30pm </i> </p>
            <p> Viernes : <i> 7:00am - 10:30pm </i> </p>
            <p> Sabado : <i> 7:00am - 10:30pm </i> </p>
            <p> Domingo : <i> Cerrado </i> </p>
        </div>

        <div class="box">
            <h3>Contáctanos</h3>
            <a href="https://api.whatsapp.com/send?phone=593968570187" target="_blank" class="whatsapp-button" data-tooltip="Ven no esperes Mas">
                <span class="whatsapp-indicator"></span>
                <p><i class="fab fa-whatsapp"></i> +593968570187</p>
              </a>
              
            <p> <i class="fas fa-phone"></i> +593678954678 </p>
            <p> <i class="fas fa-envelope"></i> FITULEAM@ulea.edu.ec </p>
            <p> <i class="fas fa-map"></i> Ecuador, Manta / av Circunvalacion Via a San Mateo</p>
    
        </div>
  