<section class="pricing" id="pricing">

    <div class="information">
        <span>Plan de precios</span>
        <h3>Precios accesible</h3>
        <p>Precios a tu alcance</p>
        <p> <i class="fas fa-check"></i> Ejercicio cardiovascular </p>
        <p> <i class="fas fa-check"></i> Pesas </p>
        <p> <i class="fas fa-check"></i> Planes de dieta </p>
        <p> <i class="fas fa-check"></i> Resultados generales </p>
        <div class="button-container">
            <button type="submit" (click)="redirigirAlPago()" class="custom-button">Comenzar</button>
          </div>
    </div>

    <div class="plan basic">
        <h3>basic plan</h3>
        <div class="price"><span>$</span>30</div>
       <div class="list">
        <p> <i class="fas fa-check"></i> Entrenamiento personal </p>
        <p> <i class="fas fa-check"></i> Ejercicio cardiovascular </p>
        <p> <i class="fas fa-check"></i> Pesas </p>
        <p> <i class="fas fa-check"></i> Planes de dieta </p>
        <p> <i class="fas fa-check"></i> Resultados generales </p>
       </div>
       <div class="button-container">
        <button type="submit" (click)="redirigirAlPago()" class="custom-button">Comenzar</button>
      </div>
    </div>

    <div class="plan">
        <h3>Plan Premium</h3>
        <div class="price"><span>$</span>90</div>
       <div class="list">
        <p> <i class="fas fa-check"></i> Entrenamiento personal </p>
        <p> <i class="fas fa-check"></i> Ejercicio cardiovascular </p>
        <p> <i class="fas fa-check"></i> Pesas </p>
        <p> <i class="fas fa-check"></i> Planes de dieta </p>
        <p> <i class="fas fa-check"></i> Masages</p>
        <p> <i class="fas fa-check"></i> Baño sauna </p>
        <p> <i class="fas fa-check"></i> Acceso siute  </p>
        <p> <i class="fas fa-check"></i> Resultados generales </p>

       </div>
       <div class="button-container">
        <button type="submit" (click)="redirigirAlPago()" class="custom-button">Comenzar</button>
      </div>
    </div>

</section>