<section class="features" id="features">

    <h1 class="heading"> <span>Características del gimnasio</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="\assets\img\f-img-1.jpg" alt="">
            </div>
            <div class="content">
                <img src="\assets\img\icon-1.png" alt="">
                <h3>Culturismo</h3>
                <p>Un cuerpo magnifico, logra ese deseado cuerpo.</p>
            </div>
        </div>
        <div class="box second">
            <div class="image">
                <img src="assets\img\f-img-2.jpg" alt="">
            </div>
            <div class="content">
                <img src="assets\img\icon-2.png" alt="">
                <h3>Gimnasio para Hombre</h3>
                <p>Piensa en cada serie como la última: es lo único que generará cambios reales..</p>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="\assets\img\f-img-3.jpg" alt="">
            </div>
            <div class="content">
                <img src="\assets\img\icon-3.png" alt="">
                <h3>Gimnasio para Mujeres</h3>
                <p>Respeta los descansos entre serie y días de entrenamiento, como la tortuga, ganarás a la liebre si eres inteligente..</p>
            </div>
        </div>
    </div>
</section>