
<body>
    <section class="home" id="home">

        <div class="swiper home-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide slide" style="background: url(https://fondosmil.com/fondo/4083.jpg) no-repeat;">
                    
                    <div class="content">
                        <span>NO OLVIDES QUE EL</span>
                        <h3>DOLOR ES TEMPORAL LA GLORIA ES ETERNA.</h3>
                    </div>
                    <div class="opciones">
                        <div class="opcion">
                            01.FITNESS

                        </div>
                        <div class="opcion">
                            02.CROSSFIT
                        </div> 
                        <div class="opcion">
                            03.BOXEO
                        </div> 
                        <div class="opcion">
                            04.RESISTENCIA
                        </div> 
                        <div class="opcion">
                            05.YOGA
                        </div> 
                        <div class="opcion">
                            06.CARDIO
                        </div>
                        <div class="button-container">  
                            <button type="submit" (click)="redirigirAlreservas()" class="custom-button" data-tooltip="Ven no esperes Mas">Reservar Clase</button>

                    </div>
                    </div>
                </div> 
            </div> 
        </div> 
    </section>